language: cpp
dist: xenial
sudo: required
before_install:
- git clone git://github.com/zeromq/libzmq.git
- cd libzmq
- ./autogen.sh
- ./configure
- make
- sudo make install
- sudo ldconfig
- cd ..

- git clone git://github.com/zeromq/czmq.git
- cd czmq
- ./autogen.sh && ./configure && make
- sudo make install
- sudo ldconfig
- cd ..
script: 
- cd src
- make build_travis
- cd ../test
- make build_test
- ../bin/mathServer &
- ./exec/test