language: cpp
dist: xenial
sudo: required
before_install:
- git clone git://github.com/zeromq/libzmq.git
- cd libzmq
- ./autogen.sh
- ./configure
- make
- sudo make install
- sudo ldconfig
- cd ..

- git clone git://github.com/zeromq/czmq.git
- cd czmq
- ./autogen.sh && ./configure && make
- sudo make install
- sudo ldconfig
- cd ..
script: 
- cd src
- chmod u+x ./build
- chmod u+x ./c
- ./build server
- cd ../test
- make
- ../src/mathServer &
- ./test
